<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3">
    <a
      *ngIf="titolo()"
      routerLink="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none fw-semibold fs-4"
    >
      {{ testo }}
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a routerLink="/home" class="nav-link" routerLinkActive="active"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/auth"
          class="nav-link"
          routerLinkActive="active"
          *ngIf="!isLogged"
          >Unisciti</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/dashboard"
          class="nav-link"
          routerLinkActive="active"
          *ngIf="isLogged"
          >Profilo</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/users"
          class="nav-link"
          routerLinkActive="active"
          *ngIf="admin()"
          >Utenti</a
        >
      </li>
      <li class="nav-item">
        <button class="nav-link" *ngIf="isLogged" (click)="logout()">
          LogOut
        </button>
      </li>
    </ul>
  </header>
</div>
